@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: logoFont;
  src: url(assets/fonts/Neuropol.otf);
}

:root {
  --primary-color: rgb(24, 24, 24);
  --secondary-color: rgb(235, 235, 240);
  --secondary-darker: rgb(212, 212, 212);
  --placeholder-color: rgb(119, 119, 121);
  --icon-color: brightness(0) saturate(100%) invert(97%) sepia(5%)
    saturate(407%) hue-rotate(195deg) brightness(93%) contrast(97%);
  --social-icons: brightness(0) saturate(100%) invert(34%) sepia(90%)
    saturate(3399%) hue-rotate(179deg) brightness(92%) contrast(97%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  background-image: url(./assets/images/weatherbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Inter", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2rem;
}

#logo {
  font-family: logoFont;
  font-weight: 400;
  font-size: 1.75rem;
  color: var(--secondary-color);
  cursor: text;
}

#search-info-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

#search-info-container i {
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 5em;
  padding-bottom: 3em;
  row-gap: 16em;
}

#current-weather {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
}

#weather-stats {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#weather-stats > div {
  display: flex;
  column-gap: 1em;
}

#weather-stats img {
  width: 2.5em;
  filter: var(--icon-color);
}

#weather-metric > h3 {
  color: var(--secondary-color);
  font-weight: 400;
}

#weather-metric > p {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: 300;
}

#reagion {
  font-size: 4rem;
  font-weight: 200;
}

#weather-description {
  font-size: 1.7rem;
  font-weight: 300;
}

#temperature {
  font-size: 4rem;
  font-weight: 700;
}

#datetime {
  font-size: 1.2rem;
  font-weight: 300;
}

#weather-icon {
  width: 10rem;
}

#weather-stats {
  display: flex;
  flex-direction: column;
}

#weather-stats img {
  width: 2.5em;
}

#weakly-hourly-weather {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  border-radius: 2em;
  width: fit-content;
  cursor: pointer;
}

#switch-button > div {
  padding: 0.5em 1em;
}

.toggle-div {
  background-color: var(--secondary-color);
  color: #0970bb;
  border-radius: 2em;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

#cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.week-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  gap: 0.7em;
}

.day-name {
  font-size: 1.7rem;
  font-weight: 300;
}

.weather-icon-card {
  width: 5rem;
}

.temp-min-max {
  display: flex;
  flex-direction: column;
}

.max-temp {
  font-size: 2.5em;
  font-weight: 700;
}

.min-temp {
  font-size: 1.2em;
  font-weight: 400;
}
